#logo{
    text-align: center;
}

#projetos{
    margin-top: 2.5em;
    width: 60%;
    text-align: center;
}

#sobre {
    width: 90%;
}

#sobre ul {
    list-style: none;
}


.borda-redonda {
    border: 1.5px solid #484848;
    border-radius: 0.8em; 
}

.direita{
    text-align: right;
}


.black {
    color: black;

}

.texto-carousel {
    color: #871d1d;
}



footer {
    text-align: center;
    padding-bottom: 20px;
}



@media (max-width: 700px) {
    #projetos{
        width: 100%;
    }
}
