html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(images/background.png) repeat-y center, linear-gradient(to top, #1d2548, #1d2548);
    background-attachment: fixed;
} 

#home {
    margin: 15em auto;
    color: #ffffff;
}

#home p{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    background: rgb(92, 92, 92, 0.7);
    display: in;
}

nav.navbar-transparente {
    background: rgba(255, 255, 255, 0.7);
}

header nav {
    font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

#projetos, #sobre, #contato {
    background: rgba(255, 255, 255, 0.85);
}

#projetos h1 {
    text-align: center;
}

#contato a {
    color: #000000;
}

.separador {
    padding: 2em 0;
}

footer {
    background: white;
    text-align: center;
}
